<!DOCTYPE html>
<html>

  {{ partial "head.html" . }}

  <body>

    <div>

        <header>

        {{ partial "nav.html" . }}

        </header>

        <div id="content">
            <div class="container">

                <div class="row">

                    <div class="col-md-12">

                        <p class="text-muted text-right">{{ if .Params.author }}{{ i18n "authorBy" }} <a href="#">{{ .Params.author }}</a> | {{ end }}{{ .Date.Format .Site.Params.date_format }}</p>

                          {{ .Content }}

                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
